<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:pattern {"slug":"jason1857/hero-main"} /-->
<!-- wp:pattern {"slug":"jason1857/news-grid"} /-->
<!-- wp:pattern {"slug":"jason1857/strip-contact"} /-->
<!-- wp:pattern {"slug":"jason1857/event-cards"} /-->
<!-- wp:pattern {"slug":"jason1857/strip-recommit"} /-->
<!-- wp:pattern {"slug":"jason1857/contact-cards"} /-->
<!-- wp:pattern {"slug":"jason1857/contract-cards"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
